@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face{
    src: url("font/PlaywriteDKLoopet-VariableFont_wght.ttf");
    font-family: "playwrite";
}
.fontStyle{
    font-family:"playwrite" ;
    /* font-family: 'Roboto Mono', monospace; */
    font-optical-sizing: auto;
    font-style: normal;


}

.fontStyle1{
    font-family:"playwrite" ;
    font-size: 25px;
}

.bg-green {
	background-color: #125b9a;
    height: 80px !important;
    
}
.color-blue{
	background-color: #125b9a;

}
.color-blue:hover{
	background-color: #125b9a;

}
.border-green{
     border: 5px solid #125B9A; 
    border-radius: 75px;
  
}




.images img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.bg-1{
    background-image: url("images/bg-1.jpg");
}


.bg-2{
    background-image: url("images/bg-2.jpg");
}

.bg-3{
    background-image: url("images/bg-3.jpg");
}

.bg-4{
    background-image: url("images/bg-4.jpg");
}

.bg-5{
    background-image: url("images/bg-5.jpg");
}